body{
	font-family: "Unica One", sans-serif;
	font-size:   12px;
	line-height: 1.3;
	background-color: #1a1d1f;
}

h1 {
	font-size:   24px;
	margin-left: 20px;
}

input, select {
	padding: 5px;
	border: 0;
	margin-bottom: 16px;
	width: 100%;
	border: 1px solid #bfbfbf;
	background-color: #1a1d1f;
	font-size: 12px;
	color: #e0e0e3;
}

input[type="checkbox"]{
	width: 20px;
	zoom: 1.3;
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

a, a:visited {
	color: #a1a1a1;
}

a:hover {
	color: #2196f3;
}

.mini-icon {
  height: 16px;
  width: 16px;
}

.medium-icon {
  height: 32px;
  width: 32px;
}


/* ALIGNMENTS */
.left {
  text-align: left!important;
}

.right {
  text-align: right!important;
}

.center {
  text-align: center!important;
}

.justify {
  text-align: justify!important;
}


.small {
	font-size: 11px;
}

.beta {
  font-size: 11px;
  color: #9f9f9f;
}

/* BUTTON SUCCESS */
.btn-success {
	background-image: -webkit-linear-gradient(top, #2196f3 0%, #1186e3 100%);
	background-image: -o-linear-gradient(top, #2196f3 0%, #1186e3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#1186e3));
	background-image: linear-gradient(to bottom, #2196f3 0%, #1186e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2196f3', endColorstr='#ff1186e3', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #2196f3;
	background-color: #1186e3;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #1186e3;
  background-position: 0 -15px;
}

.btn-success:active,
.btn-success.active {
  background-color: #1186e3;
  border-color: #2196f3;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #1186e3;
  background-image: none;
}


/* SEARCH  BOX */
.search-input {
    width: 500px;
}

.search-btn-icon {
	background-image: url('/icons/ic_search_white_24dp_2x.png');
	background-clip: padding-box;
	background-size: cover;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin: 0!important;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	webkit-box-shadow: none;
	text-shadow: none;
	webkit-text-shadow: none;
}

.search-btn-icon:hover, 
.search-btn-icon:focus {
	outline: 0;
}

table.spaced tr th,
table.spaced tr td {
  padding: 5px;
}


/* COMMON PAGES */
.container #welcome-msg {
  text-align: center;
}

.container h3 {
  margin-bottom: 20px;
  margin-top: 0;
}

.container span {
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.container span.label-field {
  font-size: 12px;
  margin-bottom: 2px;
  padding-left: 2px;
}

.container button {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.container #welcome-msg {
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.container #welcome-msg h1 {
  color: #e0e0e3;
}

.container div.box-content {
  color: #e0e0e3;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  padding: 30px;
}

.container div.box-content-transp {
  color: #e0e0e3;
  background: transparent;
  text-align: left;
  padding: 30px;
}

.container div.title-section {
	color: #e0e0e3;
  background: transparent;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #bfbfbf;
}


.container div.box-actions {
	margin-top: 10px;
  text-align: center;
}

.container .optional-actions {
  margin-top: 30px;
  text-align: center;
  font-size: 11px;
}

.container .optional-actions a {
  margin: 0 5px;
}


.container #body, 
.container #form {
	padding-top: 20px;
	background-color: rgba(255, 255, 255, 0.1);
}

.container #body {
  border-bottom: 1px solid #bfbfbf;
}    

/* Navigation tab menu */
.container #tab-menu div {
  padding-left: 0;
  padding-right: 0;
}

.container .nav-pills {
  /*border-bottom: 1px solid #bfbfbf;*/
  color: #e0e0e3;
  display: flex;
  overflow: hidden;
}

.container .nav-pills > li {
  padding-left: 0;
  padding-right: 0;
}

.container .nav-pills > li > a {
  color: #cfd8dc;
  border-radius: 0;
  margin-left: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 6px;
}

.container .nav-pills > li > a:hover {
  color: #fff;
  background-color: transparent;
}

.container .nav-pills > li.active > a, 
.container .nav-pills > li.active > a:hover {
  color: #fff;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  cursor: default;
}


/* HEADER */
.container #header {
	height: 60px;
  border-bottom-width: 3px;
  border-bottom-color: #b0bec5;
  border-bottom-style: solid;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
}

.container #header .title {
  color: #e0e0e3;
  margin-left: 0!important;
}

.container #header .login-box {
	text-align: right;
}

.container #header .login-box a,
.container #header .login-box .login,
.container #header .login-box .wallet-blc {
  color: #e0e0e3;
  font-size: 12px;
}

.container #header .login-box a,
.container #header .login-box .login {
	display: inline-block;
}

.container #header .login-box a {
	vertical-align: middle;
}

.container #header span {
  display:inline;
}


/* MESSAGES */
.container div.msg-boxes {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.container div.msg-boxes .msg {
  color: #e0e0e3;
}

.container div.msg-boxes .msg-error {
	color: #c76464;
}

.container div.msg-boxes .msg-info {
  color: #52c152;
}


/* LOGIN PAGE */
#login-page {
  padding: 100px 0;
}

#login-page #signin {
	margin-top: 10px;
}

#login-page input {
	width: 100%;
}

#login-page span {
  display:inline;
}


#body {
	padding: 40px;
  color: #efefef;
}

/* PAIRING */
#qr-label,
#qr-explorer-label {
  margin: 0 0 20px 0;
  text-align: center;
  display: inline-block;
}

#qr-container,
#qr-explorer-container {
  display: inline-block;
}

#qr-pairing,
#qr-explorer-pairing {
  width: 276px;
  height: 276px;
  padding: 10px;
  background-color: #fff;
  margin: auto;
}

/* FORM FIED*/
#cell-args,
#cell-args2,
#cell-args3 {
  display: inline-block;
}

.halfwidth {
  width: 49%;
  min-width: 49%;
}

.fullwidth {
  width: 100%;
  min-width: 100%;
}

#cell-args2,
#cell-args3 {
  width: 24%;
  min-width: 24%;
}

/* JSON DATA */
.json-data-container {
	max-width: 100%;
  word-wrap: break-word;
  overflow: visible;
  margin-top: 20px;
}

#json-data {
  text-align: left;
  min-height: 400px;
  max-width: 945px;
	outline: 1px solid #252525;
  border: none;
  padding: 5px; 
  margin: 5px;
  color: lightgreen;
  background-color: #252525;
}

#json-data span {
	display: inline;
	max-width: 800px;
  word-wrap: break-word;
  overflow: visible;
}

#json-data .string { color: lightgreen; }
#json-data .number { color: lightgreen; }
#json-data .boolean { color: lightgreen; }
#json-data .null { color: lightgreen; }
#json-data .key { color: lightgreen; }
#json-data .info { color: lightskyblue; }
#json-data .error { color: orangered; }



/* SPACERS */
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer60 { height: 60px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer70 { height: 70px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer80 { height: 80px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer90 { height: 90px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer110 { height: 110px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

